.ejemplovp1 {
    background-color: blueviolet;
}

@media only screen and (max-width: 600px) {
    .ejemplovp1 {
        background-color: brown;
    }
}

.landscape {
    background-color: coral;
}

@media only screen and (orientation: landscape) {
    .landscape {
        background-color: aqua;
    }
}

.ocultar {
    background-color: blueviolet;
    border: 1px solid magenta;
    border-radius: 50px;
    font-size: 60px;
    margin: 50px;
}

@media only screen and (max-width: 600px) {
    .ocultar {display: none;}
}

.variable {
    background-color: chartreuse;
    border: 1px dotted rebeccapurple;
}

@media only screen and (min-width: 601px) {
    .variable {font-size: 80px;}
}

@media only screen and (max-width: 600px) {
    .variable {font-size: 30px;}
}